{% include 'user/base.html' %}
<form id="form1" name="form1" method="post" action="{% url 'assignteacher' %}">
  {%csrf_token%}
  <table width="300" border="0">
    <tr>
      <th scope="col">Student</th>
      <th scope="col">Teacher</th>
    </tr>
    {% for i in student %}
    <tr>
      <td>{{i.user.get_full_name}}</td>
      <td><select name="teacher" id="select">
        {% for x in teacher %}
        <option value="{{ x.user.get_full_name }}">{{ x.user.get_full_name }}</input>
          {% endfor %}
    </select></td>
      {% endfor %}
    </tr>
  </table>
  </div>  
</form>
</table>
</form>